{
    "env": {
        "es6": true,
        "node": true,
        "jest": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:jest/recommended",
        "plugin:json-schema-validator/recommended",
        "plugin:jsonc/recommended-with-jsonc",
        "plugin:yml/standard"
    ],
    "ignorePatterns": ["!.github"],
    "overrides": [
        {
            "files": ["*.ts"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaVersion": 6,
                "project": "tsconfig.json",
                "sourceType": "module"
            },
            "plugins": ["@typescript-eslint"],
            "extends": [
                "plugin:@typescript-eslint/strict-type-checked",
                "plugin:@typescript-eslint/stylistic-type-checked"
            ]
        },
        {
            "files": [".*rc", "*.json", "*.jsonc"],
            "parser": "jsonc-eslint-parser"
        },
        {
            "files": ["*.yaml", "*.yml"],
            "parser": "yaml-eslint-parser",
            "rules": {
                "yml/indent": [
                    "error",
                    4,
                    {
                        "indicatorValueIndent": 2
                    }
                ],
                "yml/quotes": [
                    "error",
                    {
                        "prefer": "single"
                    }
                ]
            }
        },
        {
            "files": ["*.test.ts"],
            "plugins": ["jest-dom"],
            "extends": ["plugin:jest-dom/recommended"]
        }
    ],
    "plugins": ["prettier", "jest"],
    "root": true
}
